<header>
  <div class="navbar navbar-dark bg-custom box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>NGO name </strong>
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            About Us
          </a>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ngo Foundation </h1>
      <p class="lead text-muted">Ngo foundation is a work ....</p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let com of lstcomments; let select = index;">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="{{com.url}}" alt="Card image cap">
            <div class="card-body">
              <div class="card-body-title">
                <h4>{{com.title}}</h4>
              </div>
              <p class="card-text">{{com.short_desc}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="button" routerLink="/readmore">Read More </a>
                </div>
                <small class="text-muted">{{com.date}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>