<header>
  <div class="navbar navbar-dark bg-custom box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
          <circle cx="12" cy="13" r="4"></circle>
        </svg>
        <strong>NGO name </strong>
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            About Us
          </a>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ngo Foundation </h1>
      <p class="lead text-muted">Ngo foundation is a work ....</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="imageCarousel" class="carousel slide" data-interval="2000" data-ride="carousel" data-pause="hover"
            data-wrap="true">
            <ol class="carousel-indicators">
              <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#imageCarousel" data-slide-to="1"></li>
              <li data-target="#imageCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item-active">
                <div class="row">
                  <div class="col-xs-4" *ngFor="let com of lstcomments; let select = index;">
                    <div class="col-xs-4 box-shadow">
                      <img class="card-img-top" src="{{com.url}}" alt="Card image cap">
                      <div class="card-body">
                        <div class="card-body-title">
                          <h4>{{com.title}}</h4>
                        </div>
                        <p class="card-text">{{com.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Read More </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="slide-button-parent-container">
          <div class="select-box">
            <div class="slide-button">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>